body {
    background-color: rgb(0, 231, 252);
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}
h1 {
    color:white;
    margin: 0 0 100px 0;
    font-size: 80px; 
    font-family: 'Gloria Hallelujah', cursive;
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    align-items: start;
    justify-items: center;
}
h3 {
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    display: grid;
    margin: 50px 0 0 0;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    align-items: center;
    justify-items: center;   
}
#alphabet {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border: solid 2px;
    border-radius: 10% ;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

}
#word-display {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    display: grid;
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    align-items: center;
    justify-content: center;
}
#sun {
    display: grid;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-items: end;
}
#snowman {
    position: relative;
    display: grid;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-items: center;
    align-items: end;
    margin-bottom: 20px;
}
#snowman > div {
    position: absolute;
}
#head {
    width: 150px;
    height: 150px;
    top: 180px;
    left: 280px;
    background-color: white;
    border-radius: 50%;
}
#body {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
}
#left-arm, #right-arm {
    top: 280px;
    width: 10px;
    height: 100px;
    background-color: brown;
}
#left-arm{
    left: 220px;
    transform: rotate(-45deg)
}
#right-arm{
    right: 220px;
    transform: rotate(45deg)
}
#left-eye, #right-eye {
    top: 230px;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}
#left-eye {
    left: 318px;
}
#right-eye{
    right: 320px;
   
}
#nose {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 60px solid orange;
    top: 235px;
    right: 330px;
    transform: rotate(90deg);
}
#button1, #button2 {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}
#button1 {
    top: 350px;
}
#button2 {
    top: 400px;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
  }
#start{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    color: black;
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-items: center;
    align-items: end;
  }
  #start::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: 210px;
    left: 150px;
    right: 1100px;
    bottom: 470px;
    border: 2px solid black;
    background-color: gray; /* Adjust the border style, color, and width as needed */
    pointer-events: none; /* Allows interactions to pass through the pseudo-element */
    z-index: -1; /* Place the pseudo-element behind the text */
  }
  .wrongletter {
    color: red;
  }
  .rightletter {
    color: green;
  }
  #grass{
    display: grid;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-items: center;
    align-items: end;
  }
  #winner-message {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    display: none;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-items: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    color: green;
  }
  #loser-message {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    display: none;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-items: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    color: red;
  }